@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html {
  font-family: "Montserrat", sans-serif;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat"),
    url(../assets/fonts/Montserrat-Medium.ttf) format("truetype");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 100;
  src: local("Montserrat"),
    url(../assets/fonts/Montserrat-Thin.ttf) format("truetype");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 200;
  src: local("Montserrat"),
    url(../assets/fonts/Montserrat-ExtraLight.ttf) format("truetype");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 300;
  src: local("Montserrat"),
    url(../assets/fonts/Montserrat-Light.ttf) format("truetype");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 400;
  src: local("Montserrat"),
    url(../assets/fonts/Montserrat-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 500;
  src: local("Montserrat"),
    url(../assets/fonts/Montserrat-Medium.ttf) format("truetype");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 600;
  src: local("Montserrat"),
    url(../assets/fonts/Montserrat-SemiBold.ttf) format("truetype");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 700;
  src: local("Montserrat"),
    url(../assets/fonts/Montserrat-Bold.ttf) format("truetype");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 800;
  src: local("Montserrat"),
    url(../assets/fonts/Montserrat-ExtraBold.ttf) format("truetype");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 900;
  src: local("Montserrat"),
    url(../assets/fonts/Montserrat-Black.ttf) format("truetype");
}

@layer components {
  .primary-btn {
    @apply px-6 flex py-2.5 bg-blue-500 text-safe-text-white bg-safe-blue font-safe-font-default font-semibold text-base rounded-full shadow-md hover:opacity-75 focus:outline-none focus:ring-1 focus:ring-blue-400 focus:ring-opacity-75;
  }
  .selected {
    @apply bg-safe-green-shade relative font-medium;
  }
  .selected::after {
    content: "|";
    display: inline-block;
    width: 8px;
    height: 100%;
    position: absolute;
    right: 0;
    border-radius: 20px;
    background: #52ceb7;
    color: #52ceb7;
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
