.App {
  display: flex;
  height: 100vh;
}

.AppView {
  display: flex;
  flex: 1;
  min-height: 80%;
  justify-content: center;
  align-items: center;
  background-color: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.85) 0%,
      rgba(255, 255, 255, 0.85) 100%
    ),
    #dae5ea;
}

.drawerItems {
  color: blue;
  opacity: 0.4;
}

.NavigationDrawer {
  width: 300px;
  background-color: #04477b;
  color: white;
  font-size: 18px;
  height: 100%;
  overflow-y: auto;
  position: static;
}

.DashboardBody {
  width: 100%;
}

.NavigationDrawerIconView {
  width: 100%;
  margin-top: 44px;
  /* padding-left: 24px; */
  cursor: pointer;
}

.IconView {
  height: 50px;
  width: 100%;
  background-color: #04477b;
  display: flex;
  align-items: center;
  gap: 24px;
}

.IconViewIcon {
  padding-left: 33px;
  padding-right: 22px;
}

.LogoutIconView {
  position: absolute;
  bottom: 50px;
  padding-left: 24px;
  cursor: pointer;
}
