.App {
  display: flex;
}

.drawerItems {
  color: blue;
  opacity: 0.4;
}

.NavigationDrawer {
  width: 300px;
  height: 100vh;
  background-color: #04477b;
  color: white;
  font-size: 18px;
}

.DashboardBody {
  width: 100%;
}

.NavigationDrawerIconView {
  width: 100%;
  margin-top: 44px;
  /* padding-left: 24px; */
  cursor: pointer;
}

.IconView {
  height: 50px;
  width: 100%;
  background-color: #04477b;
  display: flex;
  align-items: center;
  gap: 24px;
}

.IconViewIcon {
  padding-left: 33px;
  padding-right: 22px;
}

.LogoutIconView {
  position: absolute;
  bottom: 50px;
  padding-left: 24px;
  cursor: pointer;
}
